<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <h1>Hi Im Vidmantas</h1>
    <h1>Name: <%= person.name %></h1>
    <h1>Age: <%= person.age %></h1>
  </body>
  <%- include('./partials/footer') %>
</html>
