<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    CodeAcademy
    <a href="/about">About</a>
    <h1>Hello World!</h1>
    <!-- <% for(let i = 0; i < 5; i++){%> <%= name %> <% } %> -->
    <% if(name ) {%>
    <h1><%= name %></h1>
    <% } else { %>
    <h1>Vardas nebuvo paduotas</h1>
    <% } %>
  </body>
  <%- include('./partials/footer') %>
</html>
