<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <h1>Qr codes</h1>
    <% rows.forEach(row => { %>
    <img src=<%= row.code %> alt="" style='width: 200px;height200px'/> 
    <% }) %>
  </body>
</html>
