nav {
    background-color: #333333;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li button {
    border: none;
    background-color: #333333;
    color: white;
    cursor: pointer;
    padding: 1rem;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    margin: 0 1rem;
}
.card div {
    min-height: 12rem;
    background-color: #f3f3f3;
    border-radius: 0.25rem;
}
.card div h1 {
    margin: 0;
}
