.user_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  margin: 2rem 0;
  .user_card {
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 20rem;
    border: 2px solid rgb(205, 205, 205);
    h1 {
      margin: 0;
    }
  }
}
